body {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #36454F
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

menu a:hover {
    border-bottom: 1px solid #36454F
}

.active {
    border-bottom: 1px solid #36454F
}

/* hero image and left section */

#hero-outer {
    height: 600px;
    width: 40%;
    overflow: hidden;
    float: left;
    padding-top: 30px;
}

#hero-image {
    height: 600px;
    width: 40%;
    background: url(../images/slop10.jpg) no-repeat left center;
}

/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
        }
    to{
        transform: scale(1.1);
        }
}
/* right section with text */

#right-about {
    padding-top: 30px;
    float: right;
    width: 50%;
}

.right-about-heading {
width: 60%;
clear: both;
float: right;
line-height: 30px;
margin-bottom: 50px;
}