@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

* {
margin: 0;
padding: 0;
border: none;
}

body {
    font-family: Montserrat; sans-serif;
    font-weight: 300; 
    color: #3a3a3a;

}

/* headings and logo */

h1, h2 {
font-family: Open-sans; sans-serif;
text-transform: uppercase;
letter-spacing: 3px;
color: #36454F
}

#logo {
    float: left;
    font-size: 200%;
}