@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3a3a3a;

}

/* headings and logo */

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 50px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0000ff;
    color: blue
}

.active {
    border-bottom: 1px solid #0000ff;
}

.active {
    border-bottom: 1px solid #0000ff;
}

/* body text line height */

p {
    line-height: 1.5;
}

/* hero image and cover-text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #3a3a3a;
    text-align: center;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 110%;
    font-family: Monserrat, sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(245, 245, 245, .6);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Introduction to Sologamy */

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
    font-size: 250%;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.column {
    flex: 33.33%;
    text-align: center;

}

.column2 {
    flex: 33.33%;
    text-align: center;
    margin-top: 40px;
    margin: 50px 0 50px 0;
}

.column p {
    padding: 0 10px 0 10px;

}

/* Information about joining Sologamy club  */

#club-intro {
    vertical-align: top;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    */ width: 90%;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
}

#welcome1 {
    text-align: center;
    margin: 45px 0;
    font-size: 250%
}

/* Sologamy Club Details */
.tribe {
    text-align: center;

}

#club-details {
    background-image: url('../images/celebration.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#club-details div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 3% 0 3% 0;
    text-align: center;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    line-height: 30px;
}

#club-details h2 {
    color: #fafafa;
}

/* social networks footer */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Ceremonies Page with photos */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

#return {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #252525;
    text-align: center;
    padding-top: 50px;
}


/* Register Page Form */

#club-intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.register {
    display: flex;
    align-items: center;

}

.register p {
    padding: 20px 0 20px 0;
}

.form-section {
    clear: left;
    height: 900px;
}

.signup-form {
    margin: 50px 10% 0 10%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    position: absolute;
    padding: 30px;
}

.signup-form>h2 {
    color: #3d128f;
    margin-bottom: 20px;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.details {
    font-size: 20px;
    line-height: 2;
    font-family: Monserrat, sans-serif;
}

.text-input:hover {
    border-color: #3d128f;

}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    text-align: center;
    font-size: 100%;
    color: #fafafa;
    padding: 15px 32px 15px 32px;
    background-color: #3d128f;
    display: block;

}

.join-button:hover {
    background-color: #fafafa;
    color: #3d128f;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-introduction {
        width: 65%;
        min-height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #club-intro {
        width: 65%;
        /* min-height: 500px; */
        margin: 0 auto;
    }


    #club-details div {
        width: 100%;
        clear: both;
        min-height: 150px;
        padding: 0;
    }

    #form-section {
        width: 65%;
        min-height: 500px;
        margin: 0 auto;

    }


}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0px;
    }

    #club-introduction {
        width: 90%;
        min-height: 1200px;
        margin: 0 auto;
    }


    #club-intro {
        width: 90%;
        min-height: 300px;
        margin: 0 auto;
    }



    #club-details div {
        width: 90%;
        clear: both;
        min-height: 150px;
        padding: 0;
        overflow-y: hidden;
    }


    #photo {
        column-count: 3;
    }

    #form-section {
        width: 65%;
        min-height: 500px;
        margin: 0 auto;

    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #photo {
        column-count: 2;
    }
}