@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@200&display=swap');

/* a large amount of the ideas and code to create this website has come from the Code Institute Love Running project
https: //github.com/Code-Institute-Solutions/love-running-2.0-sourcecode/tree/main/01-getting-set-up/02-boilerplate */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3a3a3a;

}

/* headings and logo */

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;

}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 8vh;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0000ff;
    color: blue
}

.active {
    border-bottom: 1px solid #0000ff;
}

.active {
    border-bottom: 1px solid #0000ff;
}

/* body text line height */

p {
    line-height: 1.5;
}

/* hero image and cover-text */

#hero-outer {
    height: 35vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #3a3a3a;
    text-align: center;
}

#hero-image {
    height: 50vh;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 110%;
    font-family: Monserrat, sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(245, 245, 245, .6);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Introduction to Sologamy */

#welcome {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 2vw;
    font-size: 200%;
}


.columns {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;

}

.column {
    padding: 2vh;
    text-align: center;

}


/* Information about joining Sologamy club  */

#welcome1 {
    display: grid;
    text-align: center;
    margin-top: 2vh;
}


.join-tribe {
    display: grid;
    padding: 1vw;
    text-align: center;
}


/* Sologamy Club Details */

#club-details div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    float: left;
    padding: 3% 0 3% 0;
    text-align: center;
    border: 1vh solid #ffffff;
    box-sizing: border-box;
    line-height: 5vh;
}

#club-details h2 {
    color: #fafafa;
}

/* External links to videos */


#external {
    display: flex;
    clear: both;
    justify-content: center;
    align-items: center;
    margin: 2vw;

}


.video {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    padding: 20px;

}

.video {
    padding: 2vh;

}

/* social networks footer */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Ceremonies Page */

#ceremonies {
    display: grid;
    clear: both;
    padding: 1vw;
    text-align: center;
}


.ceremony {
    display: grid;
    padding: 1vw;
    text-align: center;
}


/* Ceremonies photos section */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>div>img {
    width: 100%
}

/* back to top return link */

#return {
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #252525;
    text-align: center;
    padding-top: 3vh;
}


/* Register Page Form - title with text */

#register {
    display: grid;
    clear: both;
    padding: 1vw;
    text-align: center;
}


.registration {
    display: grid;
    padding: 1vw;
    text-align: center;
}

/* registration form */

#form-section {

    display: flex;

}

.signup-form {
    margin: 50px 10% 0 10%;
    color: #000;
    background-color: rgba(211, 211, 211);
    max-width: 500px;
    padding: 30px;

}

.signup-form>h2 {
    color: #000;
    margin-bottom: 20px;

}

.text-input {
    background: transparent;
    color: #000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000;
    border-radius: 2px;
}

.details {
    font-size: 20px;
    line-height: 2;
    font-family: Monserrat, sans-serif;
}

.text-input:hover {
    border-color: #000;

}

input.larger {
    width: 1.5vw;
    height: 1.5vh;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    text-align: center;
    font-size: 100%;
    color: #fafafa;
    padding: 15px 32px 15px 32px;
    background-color: #000;
    display: block;

}

.join-button:hover {
    background-color: #fafafa;
    color: #000;
}

/* Media queries */

/* For large to medium screens sizes from 1300px wide and down */
@media screen and (max-width: 1300px) {

    #cover-text {
        left: 0;
    }

    #club-intro {
        width: 65%;
        min-height: 500px;
        margin: 0 auto;
    }

    .details-box {
        display: flex;
        flex-flow: column nowrap;
    }

}

/* For medium screens sizes from 1058px wide and down */
@media screen and (max-width: 1058px) {

    #menu,
    #logo {
        line-height: 7vh;
    }

    #cover-text {
        left: 0px;
    }

    #club-details div {
        width: 100%;
        clear: both;
        line-height: 0;

    }

    .details-box {
        display: flex;
        justify-content: space-around;

    }

    #photos {
        column-count: 3;
    }


}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {


    #logo {
        font-size: 4vw;
        margin-left: 2vw;
    }

    #logo {
        font-size: 4vw;
        margin-left: 2vw;
    }

    #menu,
    #logo {
        line-height: 8vh;
        text-align: center;
        margin-bottom: 2vh;
    }

    h1,
    h2 {
        font-size: 110%;
    }


    #welcome {
        font-size: 2vh;
        text-align: center;
    }


    #menu {
        font-size: 2vw;
        letter-spacing: 0.2vw;
    }

    .ceremony {
        font-size: 4vw;
    }

    #photos {
        column-count: 2;
    }

    #register h2 {
        font-size: 4vw;
    }

    #register p {
        text-align: center;
    }
}


/* For small screens sizes from 500px wide and down */
@media screen and (max-width: 500px) {


    #logo {
        font-size: 5.7vh;
        padding: 1vw;

    }

    #menu,
    #logo {
        text-align: center;
        margin-bottom: 2vh;
    }

    #menu {
        font-size: 5vw;
        letter-spacing: 0.2vw;
    }


    #hero-outer {
        display: none;

    }

    #hero-image {
        display: none;
    }

    #cover-text {
        width: 100%;
        height: auto;

    }

    #welcome {
        font-size: 5vh;
        text-align: center;
        clear: both;
        line-height: 1.5;
    }


    .columns {
        display: flex;
        flex-flow: column nowrap;

    }

    .column {
        margin: 2vh;
    }

    .column2 {
        margin: 2vh;
    }

    .join-tribe {
        text-align: center;
    }

    #external {
        display: flex;
        flex-flow: column nowrap;
        line-height: 1.5;


    }

    #external h2 {
        margin-top: 3vh;
    }

    .ceremony {
        font-size: 5vh;
        padding-top: 3vh;
    }

    #ceremonies {
        text-align: center;
    }

    #register h2 {
        font-size: 5vh;

    }

    #register p {
        text-align: center;

    }


}